{% extends 'base.html' %}

{% block style %}
<style>
  .col img {
    height: 40vh;
  }
  #book-review{
    display: none;
  }
  #review-text{
    resize : none;
  }

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.review-wrap{
  display:flex;
}
.review-title{
  margin-bottom:0; 
  padding-top:0.5rem;
  font-size: large;
  font-weight:bold;
}
/****** Style Star Rating Widget *****/

#star-rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "✭";
}

.rating > .half:before { 
  content: "⭐";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
</style>
{% endblock %}

{% block scripts %}
<script>
  function showDesc(event){
    event.preventDefault();
    $('#book-description').show();
    $('#review-btn').removeClass('active');
    $('#book-review').hide();
    $('#desc-btn').addClass('active');
  }
  function showReview(event){
    event.preventDefault();
    $('#book-review').show();
    $('#review-btn').addClass('active')
    $('#book-description').hide();
    $('#desc-btn').removeClass('active')

  }

  function postReview(event, book_id){
    event.preventDefault();
    let review_text = $('#review-text').val()
    let star_rating =$("#star-rating input[type=radio]:checked").val()
    
    $.ajax({
      url:'/books/detail/<id>',
      type:'POST',
      data:{
        'review': review_text,
        'rating': star_rating,
        'book_id': book_id,
      },
      success:function(res){
        if(res['result'] === 'no session'){
          alert('로그인이 필요한 서비스입니다.')
        } else if(res['result'] === 'duplicated'){
          alert('기존 리뷰를 삭제해 주세요.')
        } else if(res['result'] === 'empty form'){
          alert('평점/리뷰를 모두 작성해 주세요.')
        } else {
          let member_id = {{ session['login'] }}
          review_body = document.querySelector('#review-body');
          review_body.innerHTML = '';
          res.review_list.forEach(review => {
            star_count =''
            for(let i = 0; i < review.rating; i++){
              star_count += '⭐'
            }
            review_card = `
            <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge rounded-pill bg-warning text-dark">${ review.user_name } 님 </span>
                        ${star_count}
                        <div>
                          <small> ${review.created_date} </small>
            `;

            if (review.user_id == member_id){
              review_card += `
                <a href="#" class="btn btn-close" onclick="deleteReview(event, ${review.book_id})"></a>
              `
            }
            review_card +=`
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <p class="card-text">${ review.description }</p>
                    </div>
                  </div>
                </div>
            `
            review_body.innerHTML += review_card
          });
        }
      }
    })
  }

  function deleteReview(event, book_id){
    event.preventDefault();
    $.ajax({
      url:`/books/detail/${book_id}?book=${book_id}`,
      type:'DELETE',
//      data:{
 //       'book_id': book_id,
 //     },
      success:function(res){
        if(res['result'] === 'no session'){
          alert('로그인이 필요한 서비스입니다.')
        } else if(res['result'] === 'fail') {
          alert('다시 시도해 주세요.')
        } else{
          let member_id = {{session['login']}}
          review_body = document.querySelector('#review-body');
          review_body.innerHTML = '';
          res.review_list.forEach(review => {
            star_count =''
            for(let i = 0; i < review.rating; i++){
              star_count += '⭐'
            }
            review_card = `
            <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge rounded-pill bg-warning text-dark">${ review.user_name } 님</span>
                        ${star_count}
                        <div>
                          <small> ${review.created_date} </small>
            `;

            if(member_id == review.user_id){
            review_card += `
                <a href="#" class="btn btn-close" onclick="deleteReview(event, ${review_book_id})"></a>
              `
            }

            review_card +=`
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <p class="card-text">${ review.description }.</p>
                    </div>
                  </div>
                </div>
            `
            review_body.innerHTML += review_card
          });
        }
         
      }
    })     
  }
</script>
{% endblock %}

{% block content %}
<main>
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">{{ book.book_name}}</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <img src="{{ url_for('static', filename='{}'.format(book.image)) }}"
          class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" alt="book_image">
      </div>
      <div class="col">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">저자</th>
              <td>{{book.author}}</td>
            </tr>
            <tr>
              <th scope="row">출판사</th>
              <td>{{book.publisher}}</td>
            </tr>
            <tr>
              <th scope="row">출간일</th>
              <td>{{book.publication_date}}</td>
            </tr>
            <tr>
              <th scope="row">쪽수</th>
              <td>{{book.pages}}</td>
            </tr>
            <tr>
              <th scope="row">ISBN13</th>
              <td>{{book.isbn}}</td>
            </tr>
            <tr>
              <th scope="row">평점</th>
              <td>{{book.rating}}</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><a href="{{book.link}}">상세 페이지</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="desc-btn" class="nav-link active" aria-current="page" href="#" onclick="showDesc(event)">책 소개</a>
      </li>
      <li class="nav-item">
        <a id="review-btn"class="nav-link" href="#" onclick="showReview(event)">리뷰/한줄평</a>
      </li>
    </ul>


    <div id="book-description" class="mt-4">
      <p>{{book.description}}</p>
    </div>

    <div id="book-review"  class="mt-4">
      <div class="review-wrap">
        <p class="review-title">한줄평 남기기</p>
      </div>
      <form action="" method='POST'>
        <fieldset id='star-rating' class='rating'>
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="정말 최고에요!"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="좋아요"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="괜찮아요"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="아쉬웠어요"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="별로에요"></label>
        </fieldset>

        <div class="input-group mb-3">
          <textarea class="form-control" id="review-text" rows="3"></textarea>
          <button class="btn btn-secondary" type="button" id="review-register" onclick="postReview(event, '{{book_id}}')">등록</button>
        </div>
      </form>

      
      <div class="containter py-5">
        <div id="review-body" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for review in review_list %}
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="badge rounded-pill bg-warning text-dark">{{ review[1].name }} 님</span>

                        {% for i in range(review[0].point) %}
                        ⭐
                        {% endfor %}
                        <div>
                          <small> {{review[0].created_date.strftime("%Y-%m-%d")}} </small>
                          {% if review[1].id == session.get('login') %}
                            <a href="#" class="btn btn-close" onclick="deleteReview(event, '{{book_id}}')"></a>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <!-- <h5 class="card-title">"재미있어요!"</h5> -->
                      <p class="card-text">{{ review[0].description }}.</p>
                    </div>
                  </div>
                </div>
          {% endfor %}
        </div>
      </div>
    </div>




  </div>
</main>
{% endblock %}