{% extends 'base.html' %}
{% with msg = get_flashed_messages() %}
    {% if msg %}
        <script>
            alert('{{msg[0]}}')
        </script>
    {% endif %}
{% endwith %}
{% block style %}
<style>
    #book-title a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color:black
    }
    #available{
        color:green;
    }
    #no-available{
        color:orangered;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function bookSearch(){
        let keyword = document.querySelector('#keyword').value
        $.ajax({
            url:'/home',
            type:'GET',
            data:{
                'keyword':keyword
            },
            success:function(res){
                if(res['result'] === 'success'){
                    return render_template('/home')                  
                } 
            }
        })
        keyword=""
    }

    function rentBook(id){
        book_id = id
        $.ajax({
            url:'/home',
            type:'POST',
            data:{
                'book_id':book_id
            },
            success:function(res){
                if(res['result'] === 'success'){
                    alert('대여성공')
                    
                } else if(res['result'] === 'no session'){
                    alert('로그인이 필요한 서비스입니다.')
                } else if(res['result'] === 'no stock'){
                    alert('현재 대여 가능한 재고가 없습니다.')
                } else if(res['result'] === 'rent exists'){
                    alert('대여 이력이 존재합니다.')
                }
                window.location.reload(true)
            }
        })
    }
</script>
{% endblock %}

{% block content %}
    <main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Elice Library Book List</h1>
            <p class="lead text-muted">엘리스 도서관 책 목록 및 대여 현황</p>
            <p class="lead text-muted">현재 남은 책: {{count}}권</p>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input id='keyword' type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
              <button type="button" onClick="bookSearch()">검색</button>
            </form>
            <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </p>
        </div>
        </div>
    </section>
    
    

    <div class="album py-5 bg-light">
        <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for book in book_list%}
            <div class="col">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='{}'.format(book.image)) }}" class="bd-placeholder-img" width="50%" style="margin-right: auto; margin-left: auto;" height="225" alt="book_image">

                <div class="card-body">
                <p id="book-title"><a href="/books/detail/{{book.isbn}}">{{ book.book_name}}</a></p>
                <p>{{book.author}} - {{book.publisher}}</p>
                <p>{{book.stock}}권 남음</p>
                <!--<p class="card-text">{{book.description}}</p>-->
                <div class="d-flex justify-content-between align-items-center">
                    {% if book.stock == 0 %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" disabled onClick="rentBook('{{book.id}}')">대여하기</button>
                        </div>
                        <small id="no-available">대여불가</small>
                    {% else %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onClick="rentBook('{{book.id}}')">대여하기</button>
                        </div>
                        <small id="available">대여가능</small>
                    {% endif %}
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    </main>

    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
{% endblock %}
