{% extends 'base.html' %}
{% with msg = get_flashed_messages() %}
{% if msg %}
<script>
    alert('{{msg[0]}}')
</script>
{% endif %}
{% endwith %}

{% block style %}
<style>
    #book-title a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: black;
    }

    #available {
        color: green;
    }

    #no-available {
        color: orangered;
    }

    #search-position-custom{
        position:absolute;
        z-index:999;
        top:0;
        left:0;
        right:0;
        margin-top: 5rem;
        color:white;
    }
    #search-container{
        background-color:rgba(0, 0, 0, 0.486);
        
    }

    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
    .card-rating-area{
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
        background-color: #fdfdfd;
        margin: 0;
        word-wrap: normal;
        height:2rem;
        line-height: 2rem;
    }
    .star-rating {
        display: flex;
        font-size: 2rem;
        position: relative;

    }

    .star-rating:before {
        content: "\1f7ca\1f7ca\1f7ca\1f7ca\1f7ca";
        color: #e5e5e5;
        filter: drop-shadow(0 0.6rem 0.3rem rgba(0,0,0,0.05));
    }

    .star-rating__fill {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
        animation: fill-star 2s ease-in-out;
    }

    .star-rating__fill:before {
        content: "\1f7ca\1f7ca\1f7ca\1f7ca\1f7ca";
        color: #FF619B;
    }

    @keyframes fill-star {
        0% {
            width: 0;
        }
    }
    .rating-point{
        font-size: 1rem;
        display: block;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function bookSearch() {
        let keyword = document.querySelector('#keyword')
        $.ajax({
            url: '/home/search/',
            type: 'GET',
            data: {
                'keyword': keyword.value
            },
            success: function (res) {
                if (res['result'] === 'no keyword') {
                    alert("검색어를 입력해 주세요.")
                }
            }
        })
    }

    function rentBook(id) {
        book_id = id
        $.ajax({
            url: '/home/',
            type: 'POST',
            data: {
                'book_id': book_id
            },
            success: function (res) {
                if (res['result'] === 'success') {
                    alert('대여성공')
                } else if (res['result'] === 'no session') {
                    alert('로그인이 필요한 서비스입니다.')
                } else if (res['result'] === 'no stock') {
                    alert('현재 대여 가능한 재고가 없습니다.')
                } else if (res['result'] === 'rent exists') {
                    alert('대여 이력이 존재합니다.')
                }
                window.location.reload(true)
            }
        })
    }

    function curPage(event, page){
        event.preventDefault();
        $.ajax({
            url: `/home/?pageNumber=${page}`,
            type: 'GET',
        })
        window.location.href = `/home/?pageNumber=${page}`;
    }
</script>
{% endblock %}

{% block content %}
<main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/main_c4.jpg') }}" class="d-block w-100" alt="main-carousel-1">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/main_c2.jpg') }}" class="d-block w-100" alt="main-carousel-2">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/main_c3.jpg') }}" class="d-block w-100" alt="main-carousel-3">
          </div>
        </div>
      </div>

      <section id="search-position-custom" class="py-1 text-center container">
        <div id="search-container" class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>Elice Library Book List</h1>
                <p class="lead">엘리스 도서관 책 목록 및 대여 현황</p>
                <p class="lead">현재 남은 책: {{cur_count}}권</p>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <div class="input-group">
                        <input id='keyword' type="search" class="form-control form-control-dark" placeholder="Search..."
                            aria-label="Search">
                        <button type="button" class="btn btn-dark" onClick="bookSearch()">검색</button>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </section>
    </div>



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                {% for book in book_list %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="{{ url_for('static', filename='{}'.format(book.image)) }}" class="card-img-top"
                            width="40%" style="margin-right: auto; margin-left: auto;" height="180" alt="book_image">

                        <div class="card-body">
                            <p id="book-title"><a href="/books/detail/{{book.id}}">{{ book.book_name}}</a></p>
                            <p>{{book.author}} - {{book.publisher}}</p>
                            <p>{{book.stock}}권 남음</p>
                            
                            <div class="card-rating-area">
                                <div class="star-rating">
                                    <span class="star-rating__fill" style="width:{{book.rating*10}}%"></span>
                                    <small class="rating-point">({{book.rating}})</small>
                                </div>
                            </div>
                            
                        </div>
 
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                {% if book.stock == 0 %}
                                <button type="button" class="btn btn-sm btn-outline-secondary" disabled
                                    onClick="rentBook('{{book.id}}')">대여하기</button>
                                <small id="no-available">대여불가</small>
                                {% else %}
                                <button type="button" class="btn btn-sm btn btn-outline-success"
                                    onClick="rentBook('{{book.id}}')">대여하기</button>
                                <small id="available">대여가능</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <!--
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
        </li>
        -->
        {% for p in range(1, total_page+1) %}
        <li class="page-item">
            <a class="page-link" href="#" onClick="curPage(event, '{{p}}')">{{p}}</a>
        </li>
        {% endfor %}
         <!--
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link"  href="#" aria-label="Next">&raquo;</a>
        </li>
        -->
    </ul>
</nav>
{% endblock %}