{% extends 'base.html' %}

<style>
    #login_msg{
        display: none;
    }
</style>

{% block scripts %}
<script>
    function login(){
        let id = $("#userId").val()
        let pw = $("#userPw").val()

        $.ajax({
            url: '/user/login',
            type: 'POST',
            data: {
                'id': id,
                'pw': pw,
            },
            success: function(res){
                console.log(res)
                msg = document.querySelector('#login_msg');
                if(msg.style.display === 'none'){
                        msg.style.display = 'block';
                }

                if(res['result'] === 'success'){
                    alert("로그인 성공")
                    window.location.href = '/home'                    
                } else if(res['result'] === 'none user'){
                    msg.innerText = '존재하지 않는 사용자 입니다.'
                } else if(res['result'] === 'pw_length'){
                    msg.innerText = '비밀번호는 8자리 이상으로 입력해 주세요.'
                } else {
                    msg.innerText = '아이디 혹은 비밀번호가 일치하지 않습니다.'
                }
            }
        })
    }
</script>
{% endblock %}



{% block content %}
    <!-- <form method="POST">
        <p>아이디: </p>
        <input type="text" id="userId" name="userId">
        <p>비밀번호: </p>
        <input type="text" id="userPw" name="userPw">
        <p id="login_msg"></p>
        <button onClick="login()">로그인</button>
    </form> -->
    
    <main class="form-signin">
        <form method='POST'>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="userId" name="userId"placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="userPw" name="userPw" placeholder="Password" required />
                <label for="floatingPassword">Password</label>
            </div>
            <p id="login_msg"></p>
            <button type="button" onClick="login()">로그인</button>
            <button type="button">회원가입</button>
        </form>
    </main>

{% endblock %}
